@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Figtree';
        src: url('./assets/ttf/Figtree-VariableFont_wght.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
    }

    :root {
        --color-primary: #0e9f6e;
        --swiper-pagination-color: var(--color-primary) !important;
    }

    body {
        font-family: 'Figtree', sans-serif !important;
    }
}

@layer components {
    .glow {
        filter: drop-shadow(0 0 40px var(--color-primary));
    }

    #field_0 {
        transition: all 0.2s;
    }

    html.dark #field_0 {
        background-color: #222833 !important;
        border: 1px solid #2d3b4a !important;
        color: rgb(209 213 219 / var(--tw-text-opacity, 1)) !important;
    }
    
    html.dark #field_0::placeholder {
        color: rgb(209 213 219 / var(--tw-text-opacity, 1)) !important;
    }

    .form-container .emailoctopus-success-message {
        --text-colour: #0e9f4f !important; 
    }

    .form-container .emailoctopus-error-message {
        --text-colour: #e53320 !important; 
    }
}

.iphone {
    width: 375px;
    height: 667px;
    @media (max-width: 600px) {
        width: 300px;
        height: 533px;
    }
    background-color: #1c1c1e;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid #1c1c1e;
}

.notch {
    width: 210px;
    height: 30px;
    position: absolute;
    background-color: #1c1c1e;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    z-index: 10;
}


.screen {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 40px;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}