<img
  src="../../assets/png/logo.png"
  alt="Daytistics Logo"
  class="logo"
  width="96"
  height="96"
/>

<!-- App Name -->
<h1 class="heading">Daytistics</h1>

<!-- Description -->
<p class="text">
  <!-- 
  HTML inserted via JavaScript  
  -->
</p>

<style>
  /* Logo Styles */
  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 9999px;
  }

  /* Heading Styles */
  .heading {
    font-size: 1.875rem;
    /* equivalent to text-3xl */
    font-weight: bold;
    margin-bottom: 1rem;
    /* equivalent to mb-4 */
    color: #1f2937;
    /* equivalent to text-gray-800 */
  }

  /* Description Styles */
  .description {
    color: #545b66;
    /* equivalent to text-gray-600 */
  }
</style>
